{% extends '../base.html' %} {% load static %} {% block content %}
<head>
    <title>Page de connexion</title>
    <meta charset= "utf-8">
</head>
<!-- Page Content -->
<div class="banner header-text">
    <div class="banner-item-01">
      <div class="text-content">
        <h2>connexion</h2>
      </div>
    </div>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md" id="main-content">
                    <form method="post" action="connexion.php">
                        <div class="form-group">
                            <label for="pseudo">Entrez votre pseudo :</label>
                            <input type="text" class="form-control" id="pseudo" placeholder="Entrez votre pseudonyme">
                        </div>
                        <div class="form-group">
                            <label for="mdp">Entrez votre mot de passe :</label>
                            <input type="password" class="form-control" id="mdp" placeholder="Entrez votre mot de passe">
                        </div>
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </form>
                </div>            
            </div>
        </div>
    </body>
</div>
{% endblock content %}