{% extends '../base.html' %} {% load static %} {% block content %}
<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="banner header-text">
  <div class="owl-banner owl-carousel">
    <div class="banner-item-01">
      <div class="text-content">
        <h4>Meilleurs Offres</h4>
        <h2>Rabais aux nouveaux utilisateurs</h2>
      </div>
    </div>
    </div>
  </div>
</div>
<!-- Banner Ends Here -->

<div class="latest-products">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Explications d'encryption asymétrique</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="best-features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>À Propos de nous</h2>
        </div>
      </div>
      <div class="col-md-6">
        <div class="left-content">
          <h4>Vous cherchez à mieux comprendre ce type d'encryption?</h4>
          <h7>Voici quelques liens utiles :</h7>
          <ul class="featured-list">
            <li><a href="https://fr.wikipedia.org/wiki/Cryptographie_asym%C3%A9trique#:~:text=La%20cryptographie%20asym%C3%A9trique%2C%20ou%20cryptographie,de%20retrouver%20le%20message%20original.">Lien Wikipédia.</a></li>
            <li><a href="https://github.com/FloGalaup/Solution-possible-pour-le-vote/blob/main/README.md">Lien public du GitHub</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="right-image">
          <img src="{% static 'assets/images/chiffrement.jpg' %}" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="inner-content">
          <div class="row">
            <div class="col-md-8">
              <h4>Nous récompensons nos meilleurs utilisateurs <em></em></h4>
              <p>Chaque mois les utilisateurs les plus réguliers de notre site reçoivent des récompenses alors n'hésitez pas !</p>
            </div>
            <div class="col-md-4">
              <a href="#" class="filled-button">Réservez Maintenant</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
