{% extends '../base.html' %}
{% load static %}

{% block content %}
<!-- Page Content -->
<div class="banner header-text">
    <div class="banner-item-01">
        <div class="text-content">
            <h2>Voir ses clefs</h2>
        </div>
    </div>
</div>

<body>
        <div class="container">
            <div class="row">
            <div class="col-lg-12 my-5 mx-auto text-center">
                <div class="card">
                {% if user %}
        <div class="card" style ="width: 70rem;">
                <div class="container">
                        <div class="col">
                        <form action="{% url 'add_wallet' user.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="wallet_name">Créer un binôme clef privée / clef publique</label>
                                <input type="text" class="form-control" id="wallet_name" name="wallet_name" aria-describedby="emailHelp" placeholder="Nom du couple de clef">
                            </div>
                            <button type="submit" class="btn btn-outline-primary"><em class="fa fa-plus"></em></button>
                        </form>
                    </div>
                <div class="col">
                {% for wallet in wallets %}
                    {%if wallet.owner == user.id%}
                    <h5 class="card-text">
                        </em> {{ wallet.public_key }}
                    </h5>
                    <br>
                    </br>
                    <br>
                    </br>
                    <br>
                    </br>
                    <h5>
                        {{ wallet.private_key }}
                    </h5>
                    <br>
                </br>
                <br>
                </br>
                <br>
                </br>
                    {%endif%}
                {% endfor %}
                </div>
            </div>
            </div>
        </div>
        </div>

        {% endif %}
</body>
{% endblock content %}
