{% extends '../base.html' %}
{% load static %}

{% block content %}
<!-- Page Content -->
<div class="banner header-text">
    <div class="banner-item-01">
        <div class="text-content">
            <h2>Voir son vote ainsi que son hash</h2>
        </div>
    </div>
</div>

<body>
        <div class="container">
            <div class="row">
            <div class="col-lg-12 my-5 mx-auto text-center">
                <div class="card">
                {% if user %}
        <div class="card" style ="width: 70rem;">
            <div class="container">
            <div class="row">
                <div class="col">
                {% for vote in votes %}
                    <h5 class="card-text">
                        </em> {{ vote.vote }}
                    </h5>
                    <br>
                    </br>
                    <br>
                    </br>
                    <h5>
                        {{ vote.timestamp }}
                    </h5>
                <br>
                </br>
                <br>
                </br>
                <h5>
                    Signature avec clef privée :
                    {{ vote.hash }}
                </h5>
                <br>
                </br>
                <br>
                </br>
                <h5>
                    Vérification avec clef publique :
                    {{ vote.hash_publique }}
                </h5>
                {% endfor %}
                </div>
            </div>
            </div>
        </div>
        </div>

        {% endif %}
</body>
{% endblock content %}