{% extends '../base.html' %} {% load static %} {% block content %}
<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="banner header-text">
  <div class="owl-banner owl-carousel">
    <div class="banner-item-01">
      <div class="text-content">
        <h4>Une solution de vote sécuritaire et transparente</h4>
        <h2>Créer ici votre couple de clef pour le prochain vote</h2>
      </div>
    </div>
    </div>
  </div>
</div>
<!-- Banner Ends Here -->

<div class="latest-products">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Explications de l'encryption asymétrique : </h2>
          La cryptographie asymétrique, ou cryptographie à clef publique est batie sur l'existence de fonction résistante et à sens unique.
          <br>
          Ces fonctions sont basés sur des modèles mathématiques telles qu'une fois appliquées à un message, il devient impossible de retrouver le message original dans un laps de temps suffisamment court.
          <br>
          Cependant, il existe une sorte de brèche secrète qui permet de décoder facilement le message grâce à une information que l'on gardera secrète, appelé clef privée.
          <br>
          Supposons qu'Alice souhaite recevoir un message secret de Bob sur un canal susceptible d'être écouté par un attaquant passif Eve :
          <br>
          <br>
          Alice transmet à Bob une fonction à sens unique pour laquelle elle seule connait la brèche secrète ;
          Bob utilise la fonction transmise par Alice pour chiffrer son message secret ;
          Alice réceptionne le message chiffré puis le décode grâce à la brèche secrète ;
          Si Eve réceptionne également le message alors qu'il circule sur le canal public, elle ne peut le décoder, même si elle a également intercepté l'envoi de la fonction à sens unique, car elle n'a pas connaissance de la brèche secrète.
          La terminologie classiquement retenue est :
          <br>
          <br>
          pour la fonction à sens unique : «clef publique» ;
          pour la brèche secrète : «clef privée».
          En pratique, sont utilisées des fonctions de chiffrement classiques, les termes «clef publique» et «clef privée» correspondant alors à des paramètres employés pour ces fonctions.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="best-features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>À Propos de nous</h2>
        </div>
      </div>
      <div class="col-md-6">
        <div class="left-content">
          <h4>Vous cherchez à mieux comprendre ce type d'encryption?</h4>
          <h7>Voici quelques liens utiles :</h7>
          <ul class="featured-list">
            <li><a href="https://fr.wikipedia.org/wiki/Cryptographie_asym%C3%A9trique#:~:text=La%20cryptographie%20asym%C3%A9trique%2C%20ou%20cryptographie,de%20retrouver%20le%20message%20original.">Lien Wikipédia.</a></li>
            <li><a href="https://github.com/FloGalaup/Solution-possible-pour-le-vote/blob/main/README.md">Lien public du GitHub</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="right-image">
          <img src="{% static 'assets/images/chiffrement.jpg' %}" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
