{% extends '../base.html' %}
{% load static %}

{% block content %}
<!-- Page Content -->
<div class="banner header-text">
    <div class="banner-item-01">
      <div class="text-content">
        <h2>Inscription</h2>
      </div>
    </div>
</div>
<body>
    <div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-10 my-5 mx-auto text-center" id="main-content">
                <form action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="register_email">Adresse Courriel</label>
                        <input type="email" class="form-control" id="register_email" name="register_email" aria-describedby="emailHelp" placeholder="Addresse Courriel">
                    </div>
                    <div class="form-group">
                        <label for="register_username">Pseudonyme</label>
                        <input type="text" class="form-control" id="register_username" name="register_username" aria-describedby="emailHelp" placeholder="Pseudonyme">
                    </div>
                    <div class="form-group">
                        <label for="register_password">Mot de Passe</label>
                        <input type="password" class="form-control" id="register_password" name="register_password" placeholder="Mot de Passe">
                    </div>
                    <div class="form-group">
                        <label for="register_password_confirm">Confirmez Votre Mot de Passe</label>
                        <input type="password" class="form-control" id="register_password_confirm" name="register_password_confirm" placeholder="Mot de Passe">
                    </div>
                    <button type="submit" class="btn btn-outline-primary">Soumettre</button>
                </form>
            </div>            
        </div>
    </div>
</body>
{% endblock content %}
