{% extends '../base.html' %} {% load static %} {% block content %}
<!-- Page Content -->
<div class="banner header-text">
  <div class="banner-item-01">
    <div class="text-content">
      {% if user %}

      <h2>Bienvenue, {{ user.username }}</h2>

      {% endif %}
    </div>
  </div>
</div>

<body>
  <div></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 my-5 mx-auto text-center">
        <div class="card">
          {% if user %}

          <img
            class="card-img-top"
            src="{% static 'assets/images/profile_picture.png' %}"
            alt="Card image cap"
          />
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col">
                  <h5 class="card-text">
                    <em class="fa fa-user"></em> {{ user.username }}
                  </h5>
                  <h5 class="card-text">
                    <em class="fa fa-envelope"></em> {{ user.email }}
                  </h5>
                  <a href="#" class="btn btn-outline-primary my-3 mx-auto"
                    >Modifier</a
                  >
                </div>
              </div>
              <div class="row">
                <div class="col">
                  {% for wallet in wallets %}
                    {%if wallet.owner == user.id%}
                      <h5 class="card-text">
                        <em class="fa fa-money"></em> {{ wallet.name }} - {{ wallet.funds }}
                      </h5>
                      <h5 class="card-text">
                        <em class="fa fa-money"></em> {{ wallet.public_key }}
                      </h5>
          
                      <a href="#" class="btn btn-outline-primary my-3 mx-auto"
                        >Ajouter des Fonds</a
                      >
                      <a href="#" class="btn btn-outline-danger my-3 mx-auto">Retrait</a>
                    {%endif%}
                  {% endfor %}
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <form action="{% url 'add_wallet' user.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="wallet_name">Créer un portefeuille</label>
                        <input type="text" class="form-control" id="wallet_name" name="wallet_name" aria-describedby="emailHelp" placeholder="Nom du Portefeuille">
                    </div>
                    <button type="submit" class="btn btn-outline-primary"><em class="fa fa-plus"></em></button>
                  </form>
                </div>
              </div>
            </div>
          </div>

          {% endif %}
        </div>
      </div>
      <div class="col-lg-5 my-5 mx-auto text-center">
        <table class="table table-striped">
          <caption>
            Locations Récentes
          </caption>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Actif</th>
              <th scope="col">Revenu Total</th>
              <th scope="col">Cote de satisfaction</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Chalet</td>
              <td>600.00</td>
              <td>5</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Chalet</td>
              <td>250.00</td>
              <td>4</td>
            </tr>
          </tbody>
        </table>
        <table class="table table-striped">
          <caption>
            Transactions Récentes
          </caption>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Portefeuille</th>
              <th scope="col">Montant</th>
              <th scope="col">Fonds</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Portefeuille Personnel</td>
              <td class="text-success">1000.00</td>
              <td>1000.00</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Portefeuille Personnel</td>
              <td class="text-danger">200.00</td>
              <td>800.00</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Portefeuille Personnel</td>
              <td class="text-success">600.00</td>
              <td>1400.00</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Portefeuille Personnel</td>
              <td class="text-success">250.00</td>
              <td>1650.00</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col my-3 text-center">
        <h2>Vos Propriétés</h2>
      </div>
    </div>

    <div class="row">
      <div class="col my-3 text-center">
        <a href="{% url 'add_asset' user.id %}" class="btn btn-outline-primary my-3 mx-auto">Ajouter une propriété</a>
      </div>
    </div>
    <div class="row">
      {% if user %}
      <div class="col-lg-5 my-5 mx-auto text-center">
        {% for asset in assets %}
          {% if asset.owner == user.id%}
          <div class="product-item">
            <a href="#"
              ><img src="{% static 'assets/images/maison_famille.jpg' %}" alt=""
            /></a>
            <div class="down-content">
              <a href="#">
                <h4>{{asset.name}}</h4>
              </a>

              <ul class="stars">
                <li><em class="fa fa-star"></em></li>
                <li><em class="fa fa-star"></em></li>
                <li><em class="fa fa-star"></em></li>
                <li><em class="fa fa-star"></em></li>
              </ul>
              <p>Revues (24)</p>
              
              <a href="{% url 'create_posting' user.id 1 %}" class="btn btn-outline-primary my-3 mx-auto">Afficher</a>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</body>
{% endblock content %}
