{% extends '../base.html' %} {% load static %} {% block content %}
<!-- Page Content -->
<div class="page-heading products-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-content">
          <h4>Nouveaux bien disponible à la location</h4>
          <h2>De superbes affaires n'attendent plus que vous !</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="products">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="filters">
          <ul>
            <li class="active" data-filter="*">Toutes les locations</li>
            <li data-filter=".des">Maison</li>
            <li data-filter=".dev">Appartement</li>
            <li data-filter=".gra">Autres</li>
          </ul>
        </div>
      </div>
      <div class="col-md-12">
        <div class="filters-content">
          <div class="row grid">
            <div class="col-lg-4 col-md-4 all des">
              <div class="product-item">
                <a href="#"
                  ><img
                    src="{% static 'assets/images/maison_pierre.jpg' %}"
                    alt=""
                /></a>
                <div class="down-content">
                  <a href="#">
                    <h4>Maison en pierre</h4>
                  </a>
                  <h6>$18.25 par nuit</h6>
                  <p>
                    Cette superbe maison en pierre est disponible à seulement 15
                    minutes de voiture de Reykjavik en Islande.
                  </p>
                  <ul class="stars">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                  </ul>
                  <span>Reviews (3)</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 all dev">
              <div class="product-item">
                <a href="#"
                  ><img
                    src="{% static 'assets/images/appartement_porto.jpg' %}"
                    alt=""
                /></a>
                <div class="down-content">
                  <a href="#">
                    <h4>Appartement</h4>
                  </a>
                  <h6>$30 par nuit</h6>
                  <p>
                    Ce charmant appartement est présent dans le centre-ville
                    historique de Porto.
                  </p>
                  <ul class="stars">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                  </ul>
                  <span>Reviews (2)</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 all gra">
              <div class="product-item">
                <a href="#"
                  ><img
                    src="{% static 'assets/images/chalet_bois.jpg' %}"
                    alt=""
                /></a>
                <div class="down-content">
                  <a href="#">
                    <h4>Chalet en bois</h4>
                  </a>
                  <h6>$80 par nuit</h6>
                  <p>
                    Ce magnifique chalet en bois situé en lisière de la forêt
                    d'Orléans est une exclusitivé de notre site
                  </p>
                  <ul class="stars">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                  </ul>
                  <span>Reviews (36)</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 all gra">
              <div class="product-item">
                <a href="#"
                  ><img
                    src="{% static 'assets/images/maison_famille.jpg' %}"
                    alt=""
                /></a>
                <div class="down-content">
                  <a href="#">
                    <h4>Maison de famille</h4>
                  </a>
                  <h6>$65 par nuit</h6>
                  <p>
                    Cette superbe maison familiale est disponible à quelques
                    minutes de San Francisco.
                  </p>
                  <ul class="stars">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                  </ul>
                  <span>Reviews (5)</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 all dev">
              <div class="product-item">
                <a href="#"
                  ><img src="{% static 'assets/images/chateau.jpg' %}" alt=""
                /></a>
                <div class="down-content">
                  <a href="#">
                    <h4>Château</h4>
                  </a>
                  <h6>$500 par nuit</h6>
                  <p>
                    Cette location d'un magnifique château dans le Pays de la
                    Loire est une exclusivité de notre site.
                  </p>
                  <ul class="stars">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                  </ul>
                  <span>Reviews (1)</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 all des">
              <div class="product-item">
                <a href="#"
                  ><img
                    src="{% static 'assets/images/appartement_grenade.jpg' %}"
                    alt=""
                /></a>
                <div class="down-content">
                  <a href="#">
                    <h4>Appartement</h4>
                  </a>
                  <h6>$20 par nuit</h6>
                  <p>
                    Cet appartement situé dans le centre de Grenade est idéal
                    pour un couple de voyageurs.
                  </p>
                  <ul class="stars">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                  </ul>
                  <span>Reviews (12)</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
